<% if user_signed_in? %>
<div><%=link_to "料理の登録はこちら","/foods/new"%></div>
<div><%= link_to "料理一覧はこちら","/foods" %></div>

<h2>スケジュール</h2>
<%= form_with( model: @calendar, local: true, class: 'form') do |f| %>
  <%= f.label :日付を選択, class: 'lavel' %>
  <%= f.date_field :date, class: 'date-select' %>
  <%= f.label :食べた料理を選択, class: 'lavel' %>
  <%= f.collection_select(:food_ids, Food.all, :id, :name, { include_blank: false }, { multiple: true }) %>
  <%= f.submit '保存' %>
<% end %>
<div class='calendar'>
  <% @week_days.each do |day| %>
  <div class='item'>
    <div class='date'>
      <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
    </div>
    <ul class='content'>
    <% if day[:plans].length != 0 %>
      <% day[:plans].each do |plan| %>
        <li class='plan-list'>・<%= plan.name %></li>
      <% end %>
    <% end %>
    </ul>
    <div class='calorie'>
      <% calorie = 0 %>
      <% day[:plans].each do |plan| %>
        <% calorie += plan.calorie %>
      <% end %>
      <div><%= calorie %>kcal</div>
    </div>
    <div class='protein'>
      <% protein = 0 %>
      <% day[:plans].each do |plan| %>
        <% protein += plan.protein %>
      <% end %>
      <label>たんぱく質</label><div><%= protein %>g</div>
    </div>
    <div class='fat'>
      <% fat = 0 %>
      <% day[:plans].each do |plan| %>
        <% fat += plan.fat %>
      <% end %>
      <label>脂質</label><div><%= fat %>g</div>
    </div>
    <div class='carbohydrate'>
      <% carbohydrate = 0 %>
      <% day[:plans].each do |plan| %>
        <% carbohydrate += plan.carbohydrate %>
      <% end %>
      <label>炭水化物</label><div><%= carbohydrate %>g</div>
    </div>
  </div>
  <% end %>
</div>

<h2>あなたの一日の必須カロリーは<%= @user.essential_cal %>kcalです。</h2>

<p>・減量を目指す場合</p>
<p>一般的な目安として、週に0.5kgから1kg程度を目指すと良いでしょう。</p>
<p>  週に0.5kgを目指す場合、週に3850kcal減らしたいので、一日の摂取カロリーは<%= @user.essential_cal - 550 %>kcalに抑えましょう。</p>
<p>  週に1kgを目指す場合、週に7700kcal減らしたいので、一日の摂取カロリーは<%= @user.essential_cal - 1100 %>kcalに抑えましょう。</p>
<p>※減量の場合、脂肪を落とすことがメインと考えると、1kgの脂肪=7700kcalのため。</p>
<%# <p></p>
<p>・増量を目指す場合</p>
<p>一般的な目安として、週に0.25kgから0.5kg程度を目指すと良いでしょう。</p>
<p>  週に0.25kgを目指す場合、週に3850kcal、一日当たり550kcal減らしましょう。</p>
<p>  週に0.5kgを目指す場合、週に7700kcal、一日当たり1100kcal減らしましょう。</p>
<p>※同じカロリーでも、タンパク質を優先して摂ると良いでしょう。</p> %>
<% else %>
<h2>ユーザー登録をして、あなたの一日の必須カロリーを確認しましょう。</h2>
<% end %>