<main class="main">
  <div class="inner">
    <div class="show__wrapper">
      <p class="show__hedding">
        <%= @food.name %>
      </p>
      <% if user_signed_in? && current_user.id == @food.user_id %>
        <div class="show__manage">
          <%= link_to "編集する", "/foods/#{@food.id}/edit", class: :show__btn %>
          <%= link_to "削除する", "/foods/#{@food.id}", data: { turbo_method: :delete }, class: :show__btn %>
        </div>
      <% end %>
       <table>
        <thead>
          <tr>
            <th>カロリー</th>
            <th>たんぱく質</th>
            <th>脂質</th>
            <th>炭水化物</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="detail__message"><%= @food.calorie %> kcal</td>
            <td class="detail__message"><%= @food.protein %> g</td>
            <td class="detail__message"><%= @food.fat %> g</td>
            <td class="detail__message"><%= @food.carbohydrate %> g</td>
          </tr>
        </tbody>
      </table>
      <div class="text_center">
        <%= link_to "料理一覧に戻る", "/foods" %>
      </div>
    </div>
  </div>
</main>