<h2><%=@food.name%></h2>

<h3>カロリー：<%=@food.protein*4 + @food.fat*9 + @food.carbohydrate*4 %> kcal</h3>
<div>たんぱく質：<%=@food.protein%> g</div>
<div>脂質　　　：<%=@food.fat%> g</div>
<div>炭水化物　：<%=@food.carbohydrate%> g</div>

<div><%= link_to "トップページに戻る","/" %></div>
<div><%= link_to "食品一覧に戻る","/foods" %></div>